@page 
@model WseiBackendLab.Pages.Quiz.QuizzesModel

@{
    Layout = null;
}

<!DOCTYPE html>

<ol>
    @foreach (var item in @Model.lista)
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-page="/Quiz/Item" asp-route-itemIndex="0" asp-route-quizId="@item.Id">@item.Title</a>
    </li>
}

</ol>